[package]
name = "dec_05"
version = "0.1.0"
rust-version.workspace = true
edition.workspace = true

[dependencies]
anyhow = { workspace = true }
itertools = { workspace = true }

[lints]
workspace = true
